body{
 padding 20px;
 background-color: aqua;
/*background-image: url(logo.png);
/* repeat pour que limage dans le background se repete */
/*background-repeat: repeat;*/
/* non-repeat pour que limage ne se repete pas  */
background-repeat: non-repeat;
/* pour que limage ne bouge pas */
background-attachment: fixed;
/* pour que la page bouge */
background-attachment: scroll;
/* position pour le positionnement de limage */
background-position: center;
}
h1, h3, h4{
    color:red;
    border : dashed green 2px
}

h2{
    color:blue;
    border : solid red
} 
p span{
    background-color: rosybrown;
}
.maClasse1{
    background-color: aquamarine;
    font-style: italic;
    border-style: solid;
    border-color: brown;
    border-radius: 3%;
    text-align: justify;
}

.maClass2{
    background-color: chartreuse;
    font-style: italic;
    border-style: dashed;
    border-color: brown;
    border-radius: 3%;
}
#id1{
    background-color: pink;
}

.classid1{
    font-style: italic;
    color: deepskyblue;
}

.classid2{
 border-style: dotted ; 
}
/* padding concerne la marge interne d unn texte  */
/* margin concerne la marge entre les blocs */
/* font-family est utilise pour les polices
*fomt-size pour la taille des police 

 */
.marginpadding{
    border: dotted red 2px ; 
    padding-left: 20px;
    padding-bottom: 10px;
   }
a:link{
    color: red;
}
a:hover{

}
a:visited{


}